<div class="fondo">
    {{!-- <header class="masthead d-flex"> --}}
        <div class="container text-center">
            <h1 class="mb-1">BIENVENIDO A LA NUEVA APP EN NODEJS </h1>
            <h3 class="mb-5">
                <em>Esta app sirve para lo que quieras...</em>
            </h3>
            <div>
                <a href="/encender/11" class="btn btn-primary"> ON1</a>
                <a href="/encender/12" class="btn btn-primary"> ON2</a>
                <a href="/encender/13" class="btn btn-primary"> ON3</a>
                <a href="/encender/15" class="btn btn-primary"> ON4</a>
            </div>
            <div>
                <a href="/apagar/11" class="btn btn-primary"> OFF1</a>
                <a href="/apagar/12" class="btn btn-primary"> OFF2</a>
                <a href="/apagar/13" class="btn btn-primary"> OFF3</a>
                <a href="/apagar/15" class="btn btn-primary"> OFF4</a>
            </div>
 <a href="/" class="btn btn-primary"> PRUEBA</a>
            
        </div>
        {{!--
    </header> --}}
</div>