<nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark footer">
    <div>
        <p>NEW APP IN NODEJS · 
        <span> <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" src="/img/ccby.png" /></a>Autor: <a target="_blank" href="https://adrian.deharoortega.com">Adrian de Haro </a> <span class="copyleft"> &copy; </span> bajo licencia <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons</a>. </span>
        </p>
    </div>
</nav>